PunktDe:
  Form:
    Persistence:
      finisher:
        excludedFormTypes:
          'Neos.Form:StaticText': true
      exportDefinitions:
        csv:
          label: 'Generic CSV'
          exporter: csv
          fileNamePattern: 'Form-Export-{formIdentifier}-{currentDate}.csv'
        excel:
          label: 'Generic Xlsx'
          exporter: xlsx
          fileNamePattern: 'Form-Export-{formIdentifier}-{currentDate}.xlsx'
        zip:
          label: 'ZIP Archive'
          exporter: zip
          fileNamePattern: 'Form-Export-{formIdentifier}-{currentDate}.zip'
      exporter:
        csv:
          className: PunktDe\Form\Persistence\Domain\Exporter\CsvExporter
          options: {  }
        xlsx:
          className: PunktDe\Form\Persistence\Domain\Exporter\SpreadSheetExporter
          options:
            writerType: Xlsx
            title: ''
            creator: ''
        zip:
          className: PunktDe\Form\Persistence\Domain\Exporter\ZipArchiveExporter
          options: {  }
      processorChain:
        flattenArray:
          class: PunktDe\Form\Persistence\Domain\Processors\FlattenArrayProcessor
          position: start
        addMetaData:
          class: PunktDe\Form\Persistence\Domain\Processors\AddMetaDataProcessor
          position: 'before fieldKeyMapping'
          options:
            fields:
              date: form_submission_date
        fieldKeyMapping:
          class: PunktDe\Form\Persistence\Domain\Processors\FieldKeyMappingProcessor
        valueFormatting:
          class: PunktDe\Form\Persistence\Domain\Processors\ValueFormattingProcessor
      scheduledExport:
        senderName: 'Scheduled Form Data Export'
        senderMailAddress: noreply@localhost
        subject: 'Latest data of form {formIdentifier}'
      formDataCleanup:
        retentionPeriod: P30D
